nav .navBubble{
    position: absolute;
    top: -6.5px;
    right: -6.5px;
    background-color: #666;
    color: #fff;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    line-height: 1;
}