@font-face {
  font-family: "Lobster";
  src: url("../../Assets/Fonts/LobsterTwo-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url("../../Assets/Fonts/LobsterTwo-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lobster";
  src: url("../../Assets/Fonts/LobsterTwo-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url("../../Assets/Fonts/LobsterTwo-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

header .header-font {
  font-family: "Lobster";
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-direction: column;
}
header .desc-font {
  align-self: flex-start;
  font-size: 1.125rem;
}

header .burgerbg {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 0;
  width: 49.3vw;
  height: auto;
}
header .banner {
  position: absolute;
  display: block;
  top: 10%;
  right: 0;
  width: 50%;
  height: 100%;
}
@media (max-width: 1000px) {
  header .banner {
    top: -10%;
    width: 50%;
    height: 100%;
  } 
  header .burgerbg {
    width: 45vw;
  height: 75vh;
  }
}
header .banner .burger {
  position: relative;
  background: url(../../Assets/burger.png) center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  animation: burgerAnim 12s ease both infinite;
}

header .container .burger-sm {
  position: relative;
  background: url(../../Assets/burger.png) center no-repeat;
  background-size: 100%;
  width: 75%;
  height: 50vh;
  animation: burgerAnim 12s ease both infinite;
}

@keyframes burgerAnim {
  from, 33.2%, 66.4%, to {
    top: 10px;
  }
  16.6% {
    top: 35px;
  }
  49.8% {
    top: 20px;
  }
  83% {
    top: 35px;
  } 
}
header .banner .burger .crown {
  position: absolute;
  top: -6.5%;
  background: url(../../Assets/crown.png) center no-repeat;
  background-size: 100%;
  width: 82.5%;
  height: 75%;
}
@media (max-width: 1250px) {
  header .banner .burger .crown {
    top: 0;
  }
}
@media (max-width: 700px) {
  header .banner .burger .crown {
    top: 5.5%;
  }
}
header .banner .burger .discount {
  position: absolute;
  top: -2.5%;
  right: 7.5%;
  background: url(../../Assets/offer.png) center no-repeat;
  background-size: 100%;
  width: 25%;
  height: 25%;
  animation: discountAnim 4s ease both infinite;
}
@keyframes discountAnim {
  from, to {
    right: 6.5%;
  }
  50% {
    right: 3%;
  }
}